#u104
{
	background-color: transparent;
}

#u114-7
{
	background-color: transparent;
	line-height: 36px;
	color: #FF0000;
	font-size: 30px;
	text-align: center;
}

#u114,#u114-4
{
	color: #FF0000;
}

